[Unit]
Description=sherwood
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root
ExecStart=/root/venv/bin/python sherwood/sherwood/main.py
Restart=always

[Install]
WantedBy=multi-user.target