<template id="sherwood-leaderboard-template">
  <div>
    <h2>leaderboard</h2>

    <label for="sort-options">sort by: </label>
    <select id="sort-options">
      <option value="lifetime_return">Lifetime Return</option>
      <option value="average_daily_return">Average Daily Return</option>
      <option value="assets_under_management">Assets Under Management</option>
    </select>

    <table>
      <thead>
        <tr>
          <th>user</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</template>