<template id="sherwood-sign-up-template">

  <h1>sign up</h1>

  <form id="sign-up-form">
    <label for="email">email:</label><br />
    <input type="email" id="email" name="email" required /><br /><br />

    <label for="display-name">display name:</label><br />
    <input type="text" id="display-name" name="display_name" required /><br /><br />

    <label for="password">password:</label><br />
    <input type="password" id="password" name="password" required /><br /><br />

    <button type="submit">sign in</button>
  </form>

  <ul id="password-requirements"></ul>

  <p class="error" id="error-message"></p>

</template>