<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="/sherwood/static/style.css" />

  {% block style %}{% endblock %}
</head>

<body id="sherwood">
  <script src="/sherwood/static/script.js"></script>

  {% include "header.html" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% block script %}{% endblock %}
</body>

</html>