<button id="divest-button">divest</button>

<!-- divest modal -->
<div class="modal-overlay" id="divest-modal-overlay">
  <div class="modal">
    <button class="close-button" id="divest-close-button"> &times; </button>
    <h2>divest</h2>
    <form id="divest-form">
      <label>portfolio id:</label><br />
      <input type="number" step="1" min="1" name="investee_portfolio_id" required /><br /><br />
      <label>dollars:</label><br />
      <input type="number" name="dollars" required /><br /><br />
      <button type="submit">submit</button><br />
    </form>
    <p class="error" id="divest-error-message"></p>
  </div>
</div>

<script>
  setupForm("divest-form", "divest-error-message", "divest-modal-overlay", "/sherwood/api/divest");
  setupModal("divest-button", "divest-close-button", "divest-modal-overlay");
</script>