<header>
  <style>
    .sherwood-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sherwood-header .links {
      display: flex;
      gap: 8px;
    }
  </style>

  <nav class="sherwood-header">
    <div class="links">
      <a href="/sherwood">home</a>
    </div>
    <div class="links" id="sherwood-header-right-links">
      <a href="/sherwood/sign-up">sign up</a>
      <a href="/sherwood/sign-in">sign in</a>
    </div>
  </nav>

  <script>
    const displaySignedInUserLinks = ({ detail: user }) => {
      const rightLinks = document.getElementById('sherwood-header-right-links');

      rightLinks.innerHTML = '';

      profileLink = document.createElement('a');
      profileLink.textContent = "profile";
      profileLink.href = "/sherwood/profile";
      rightLinks.appendChild(profileLink);

      signOutLink = document.createElement('a');
      signOutLink.textContent = "sign out";
      signOutLink.href = "/sherwood/sign-out";
      rightLinks.appendChild(signOutLink);
    }

    sherwood.addEventListener(AUTHORIZED_USER_EVENT_NAME, displaySignedInUserLinks);
  </script>
</header>