<h2>leaderboard</h2>

<div>
  <table id="leaderboard-table" border="1"></table><br />
</div>

<script>
  const leaderboardTable = document.getElementById("leaderboard-table");

  async function populateLeaderboardTable({ users }) {

    const leaderboardTableHead = document.createElement('thead');
    const leaderboardTableHeadRow = document.createElement('tr');
    ["user", "value", "gain or loss"].forEach(col => {
      const th = document.createElement('th');
      th.textContent = col;
      leaderboardTableHeadRow.appendChild(th);
    });
    leaderboardTableHead.appendChild(leaderboardTableHeadRow);
    leaderboardTable.appendChild(leaderboardTableHead);

    const leaderboardTableBody = document.createElement('tbody');
    leaderboardTable.appendChild(leaderboardTableBody);
    users.forEach(user => {
      const row = document.createElement('tr');

      const userCell = row.insertCell(0);
      const link = document.createElement('a');
      link.href = `/sherwood/user/${user.id}`;
      link.textContent = user.display_name;
      userCell.appendChild(link);

      row.insertCell(1).textContent = `$${user.portfolio.value.toFixed(2)}`;
      row.insertCell(2).textContent = `$${user.portfolio.gain_or_loss.toFixed(2)} (${(100 * user.portfolio.gain_or_loss / user.portfolio.cost).toFixed(1)}%)`;
      leaderboardTableBody.appendChild(row);
    })


  }

  const populateLeaderboard = async ({ detail: leaderboard }) => {
    populateLeaderboardTable(leaderboard);
  }

  sherwood.addEventListener('leaderboard', populateLeaderboard);
</script>