<h2>portfolio</h2>

<div>
  <table id="portfolio-summary-table"></table>
</div>

<div>
  <h3>holdings</h3>
  <table id="portfolio-holdings-table" border="1"> </table>
</div>

<div>
  <h3>investors</h3>
  <table id="portfolio-investors-table" border="1"> </table>
</div>

<div>
  <h2>investees</h2>
  <table id="portfolio-investees-table" border="1"> </table>
</div>

<script>

  async function populatePortfolioSummary(portfolio) {
    const portfolioSummaryTable = document.getElementById("portfolio-summary-table");
    const portfolioSummaryTableBody = document.createElement('tbody');
    portfolioSummaryTable.appendChild(portfolioSummaryTableBody);
    let row;

    row = document.createElement('tr');
    row.insertCell(0).textContent = 'value:';
    row.insertCell(1).textContent = `$${portfolio.value.toFixed(2)}`;
    portfolioSummaryTableBody.appendChild(row);

    row = document.createElement('tr');
    row.insertCell(0).textContent = 'gain or loss:';
    row.insertCell(1).textContent = `$${portfolio.gain_or_loss.toFixed(2)} (${(100 * portfolio.gain_or_loss / portfolio.cost).toFixed(1)}%)`;
    portfolioSummaryTableBody.appendChild(row);

    row = document.createElement('tr');
    row.insertCell(0).textContent = 'cash:';
    row.insertCell(1).textContent = `$${portfolio.cash.toFixed(2)}`;
    portfolioSummaryTableBody.appendChild(row);
  }

  async function populatePortfolioHoldingsTable({ holdings }) {
    const portfolioHoldingsTable = document.getElementById("portfolio-holdings-table");
    if (holdings.length === 0) {
      portfolioHoldingsTable.innerHTML = "(no holdings yet)";
      return;
    }

    const portfolioHoldingsTableHead = document.createElement('thead');
    const portfolioHoldingsTableHeadRow = document.createElement('tr');
    ["symbol", "units", "value", "gain or loss"].forEach(col => {
      const th = document.createElement('th');
      th.textContent = col;
      portfolioHoldingsTableHeadRow.appendChild(th);
    });
    portfolioHoldingsTableHead.appendChild(portfolioHoldingsTableHeadRow);
    portfolioHoldingsTable.appendChild(portfolioHoldingsTableHead);

    const portfolioHoldingsTableBody = document.createElement('tbody');
    portfolioHoldingsTable.appendChild(portfolioHoldingsTableBody);
    holdings.forEach(holding => {
      const row = document.createElement('tr');
      row.insertCell(0).textContent = holding.symbol;
      row.insertCell(1).textContent = `${holding.units.toFixed(2)}`;
      row.insertCell(2).textContent = `$${holding.value.toFixed(2)}`;
      row.insertCell(3).textContent = `$${holding.gain_or_loss.toFixed(2)} (${(100 * holding.gain_or_loss / holding.cost).toFixed(1)}%)`;
      portfolioHoldingsTableBody.appendChild(row);
    })
  }

  async function populatePortfolioInvestorsTable(portfolio) {
    const portfolioInvestorsTable = document.getElementById("portfolio-investors-table");
    if (portfolio.ownership.length <= 1) {
      portfolioInvestorsTable.textContent = "(no investors yet)";
      return;
    }

    const portfolioInvestorsTableHead = document.createElement('thead');
    const portfolioInvestorsTableHeadRow = document.createElement('tr');
    ["user", "cost", "value", "gain or loss"].forEach(col => {
      const th = document.createElement('th');
      th.textContent = col;
      portfolioInvestorsTableHeadRow.appendChild(th);
    });
    portfolioInvestorsTableHead.appendChild(portfolioInvestorsTableHeadRow);
    portfolioInvestorsTable.appendChild(portfolioInvestorsTableHead);

    const portfolioInvestorsTableBody = document.createElement('tbody');
    portfolioInvestorsTable.appendChild(portfolioInvestorsTableBody);
    portfolio.ownership.forEach(investor => {
      if (investor.owner_id !== portfolio.id) {
        const row = document.createElement('tr');
        row.insertCell(0).textContent = investor.display_name;
        row.insertCell(1).textContent = `$${investor.cost.toFixed(2)}`;
        row.insertCell(2).textContent = `$${investor.value.toFixed(2)}`;
        row.insertCell(3).textContent = `$${investor.gain_or_loss.toFixed(2)} (${(100 * investor.gain_or_loss / investor.cost).toFixed(1)}%)`;
        portfolioInvestorsTableBody.appendChild(row);
      }
    })
  }

  async function populatePortfolioInvesteesTable() {
    const portfolioInvesteesTable = document.getElementById("portfolio-investees-table");
  }

  const populateProfile = async ({ detail: portfolio }) => {
    populatePortfolioSummary(portfolio);
    populatePortfolioHoldingsTable(portfolio);
    populatePortfolioInvestorsTable(portfolio);
    populatePortfolioInvesteesTable();
  }

  sherwood.addEventListener('portfolio', populateProfile);
</script>