{% extends "base.html" %}

{% block title %}sherwood | profile{% endblock %}

{% block style %}{% endblock %}

{% block content %}
{% include "leaderboard.html" %}
{% include "portfolio.html" %}
{% endblock %}

{% block script %}
<script>

  const fetchProfile = async ({ detail: user }) => {
    if (user.error) { window.location.href = '/sherwood/'; }
    await getPortfolio({ portfolio_id: user.portfolio.id });
  }

  sherwood.addEventListener('user', fetchProfile);

  window.onload = () => {
    getLeaderboard()
    getUser();
  };

</script>
{% endblock %}