{% extends "base.html" %}

{% block title %}sherwood | profile{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<h1>Your Profile</h1>

{% include "buy-button.html" %}
{% include "sell-button.html" %}
{% include "invest-button.html" %}
{% include "divest-button.html" %}

{% include "portfolio.html" %}

{% endblock %}

{% block script %}
<script>
  sherwood.addEventListener(AUTHORIZED_USER_EVENT_NAME, ({ detail: user }) => {
    emitPortfolio({ portfolio_id: user.portfolio.id });
  });

  window.onload = () => {
    emitAuthorizedUser();
  };

</script>
{% endblock %}