<button id="sell-button">sell</button>

<!-- sell modal -->
<div class="modal-overlay" id="sell-modal-overlay">
  <div class="modal">
    <button class="close-button" id="sell-close-button">&times;</button>
    <h2>sell</h2>
    <form id="sell-form">
      <label>symbol:</label><br /> <input type="text" name="symbol" required /><br /><br />
      <label>dollars:</label><br /> <input type="number" name="dollars" required /><br /><br />
      <button type="submit">submit</button><br />
    </form>
    <p class="error" id="sell-error-message"></p>
  </div>
</div>

<script>
  setupModal("sell-button", "sell-close-button", "sell-modal-overlay");
  setupForm("sell-form", "sell-error-message", "sell-modal-overlay", "/sherwood/api/sell");
</script>